<div class="front list-view">
  <h1 class="view-card-title">Your Grocery List</h1>
  <i class="fa fa-bars fa-lg options-icon"></i>
  <div class="item-cards-list">
    <% list.each do |item| %>
    <% p 'LIST HERE' %>
    <% p list %>
    <% @item = item %>
    <%= render "welcome/card_detail", locals: {item: @item} %>
    <% end %>
  </div>
</div>
<div id="formDiv">
  <form id="addForm" action="/items" method="POST">
    <input type="text" name="name" placeholder="name" id="name-field"/>
    <input type="text" name="description" placeholder="description" id="description-field"/>
    <input type="text" name="category" placeholder="category" id="category-field"/>
    <input id="addButton" type="submit" value="Add Item"/>
  </form>
</div>
<div class="back">
</div>