<body>
  <header>
    <img src="/assets/image-small-white.png" class="" id="index-nav-logo"/>

    <h1 class="" id="index-nav-title">Replenish</h1>

    <button class="" id="login-button">
      <i class="fa fa-google login-google-icon" id="google-auth-icon"></i>
      &nbsp;&nbsp;Sign In &nbsp;| &nbsp; Sign Up
    </button>
  </header>

  <div id="index-salmon">
<!--     <div class="arrows-container">
      <i class="fa fa-angle-left fa-3x arrow-left debug" id="left-arrow-salmon"></i>
      <i class="fa fa-angle-right fa-3x arrow-right debug" id="right-arrow-salmon"></i>
    </div>
 -->
    <div class="index-text animated fadeIn">
      <h1 class="index-title">Replenish</h1>
      <h3 class="index-subtitle">Nourish Your Routine</h3>
    </div>
  </div>

  <div id="index-bowl">
<!--     <div class="arrows-container">
      <i class="fa fa-angle-left fa-3x arrow-left debug" id="left-arrow-bowl"></i>
      <i class="fa fa-angle-right fa-3x arrow-right debug" id="right-arrow-bowl"></i>
    </div> -->

    <div class="index-text animated fadeIn">
      <h1 class="index-title">Nourish</h1>
      <h3 class="index-subtitle">Foresee Your Cupboard's Needs</h3>
    </div>
  </div>

  <div id="index-onion">
<!--     <div class="arrows-container">
      <i class="fa fa-angle-left fa-3x arrow-left debug" id="left-arrow-onion"></i>
      <i class="fa fa-angle-right fa-3x arrow-right debug" id="right-arrow-onion"></i>
    </div> -->

    <div class="index-text animated fadeIn">
      <h1 class="index-title">Predict</h1>
      <h3 class="index-subtitle">Where Convention Meets Configuration</h3>
    </div>
  </div>

  <div class="container" id="card">

  </div>

  <footer>
    <div class="cycle-circles">
      <i class="fa fa-circle-o fa-lg circles" id="circle-1"></i>
      <i class="fa fa-circle-o fa-lg circles" id="circle-2"></i>
      <i class="fa fa-circle-o fa-lg circles" id="circle-3"></i>
    </div>

    <div class="social-media">
      <img src="/assets/facebook.png" class="facebook-logo social-icons">&nbsp;&nbsp;
      <img src="/assets/twitter.png" class="twitter-logo social-icons">&nbsp;&nbsp;
      <img src="/assets/google_plus.png" class="google-plus-logo social-icons">
    </div>

    <h4 id="footer-text">&copy; Replenish | 2015</h4>
  </footer>

</body>
