<h2>Hi user, @current_user.name</h2>

<h3>Plan a trip to the grocery store</h3>
<h4>Current items on your list:</h4>
(loop through itemsusers where <br>
(current time - most recent shopping trip) > Avg. frequency )<br>
display itemsusers.item_name <br>
(end loop)<br>
Add item link to partial form for item search<br>

<h4>Tap here to flip from plan to shop</h4>
<h4>Link to current grocery list with checkmarks</h4>